# Build artifacts
*.o
*.oo
GIZMO
GIZMO_config.h
compile_time_info.cc

# Machine-specific config
Config.sh
Makefile.systype
stella.params

ketju-integrator/

# Test binaries
test/unit/test_diffusion_co
test/unit/test_dvode_co
test/unit/test_dvode_xh_sensitivity
test/unit/test_enrichment
